{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    
    <title>Ahmad Aminullah Alfiyanto</title>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  </head>
  <body>
      <div class="jumbotron jumbotron-fluid bg-dark mb-0">
        <div class="container text-center text-light">
          <img src="static\home\profil.png" width="415">
          <h1 class="display-4">Ahmad Aminullah Alfiyanto</h1>
          <p class="lead">-- 1906399064 --</p>
        </div>
      </div>
      <!--
      <div class="jumbotron jumbotron-fluid bg-dark mb-0">
        <div class="container text-center text-light">
          <div class="d-flex justify-content-center align-items-center flex-column">
            <div id="accordion">
              <h3 position="0" class="p-2 m-0 bg-foto boxAccordion">
                Asal Daerah
              </h3>
              <p position="0" class="p-1 m-0 bg-content text-dark boxAccordion">
                Solo / Surakarta
              </p>
              <h3 position="1" class="p-2 m-0 bg-foto boxAccordion">
                Motivasi
              </h3>
              <p position="1" class="p-1 m-0 bg-content text-dark boxAccordion">
                Lorem Ipsum Dolor Sit Amet
            </p>
            <h3 position="2" class="p-2 m-0 bg-foto boxAccordion">
                Prestasi
            </h3>
            <p position="2" class="p-1 m-0 bg-content text-dark boxAccordion">
                Belum ada Prestasi
            </p>
            <h3 position="3" class="p-2 m-0 bg-foto boxAccordion">
                Kirim Pesan
            </h3>
            <p position="3" class="p-1 m-0 bg-content text-dark boxAccordion">
              <span><a href="https://wa.me/6281235635134/" class="text-dark">Whatsapp</a></span> <br>
              <span><a href="http://line.me/ti/p/~emonyhwh" class="text-dark">Line</a></span>
            </p>
          </div>
        </div>
      </div>
      -->
      <div class="jumbotron jumbotron-fluid bg-dark mb-0">
        <div class="container text-center text-light">
          <h1 class="display-4 mb-5">Tentang Saya</h1>
          <p class="lead"> Saya adalah seorang mahasiswa tingkat dua di Universitas Indonesia 
              dan mengambil program studi Sistem Informasi. Saya memiliki ketertarikan terhadap 
              dunia bisnis dan pasar modal. Harapan saya suatu saat nanti saya dapat menjadi salah 
              satu jajaran direksi perusahaan di Indonesia.</p>
          <p class="lead">  Hobi saya adalah menganalisa harga saham di Indonesia. Menurut saya, 
              saham adalah salah satu bentuk investasi yang mudah dipahami meskipun banyak metode 
              yang dapat digunakan dalam menganalisa sebuah saham.</p>
        </div>
      </div>

      <div class="jumbotron jumbotron-fluid bg-dark mb-0">
        <div class="container text-center text-light">
          <h1 class="display-4 mb-5">Riwayat Pendidikan</h1>
          <div class="row mt-5">
            <div class="col">
                <img src="static\home\patska.png" width="200px">
                <h3 class="display-5 mt-3">SMP Negeri 4 Surakarta</h3>
            </div>
            <div class="col">
                <img src="static\home\wikarya.png" width="200px">
                <h3 class="display-5 mt-3">SMA Negeri 3 Surakarta</h3>
            </div>
            <div class="col">
                <img src="static\home\makarapacil.png" width="200px">
              <h3 class="display-5 mt-3">Universitas Indonesia</h3>
            </div>
          </div>
        </div>
        </div>
      </div>

      <div class="jumbotron jumbotron-fluid bg-dark mb-0">
        <div class="container text-center text-light">
          <h1 class="display-4 mb-5">Sosial Media</h1>
          <a href="https://www.facebook.com/emonyhwh/" class="fa fa-facebook" style="padding: 20px;font-size: 50px;width: 10px;" target="_blank"></a>
          <a href="https://www.twitter.com/_emonyhwh/" class="fa fa-twitter" style="padding: 20px;font-size: 50px;width: 60px;" target="_blank"></a>
          <a href="https://www.linkedin.com/in/aaminullah/" class="fa fa-linkedin" style="padding: 20px;font-size: 50px;width: 60px;" target="_blank"></a>
          <a href="https://www.instagram.com/aaminullah/" class="fa fa-instagram" style="padding: 20px;font-size: 50px;width: 50px;" target="_blank"></a>
        </div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'home/script.js' %}"></script>
  </body>
</html>
