/* Project-wide style */

@import url('http://fonts.googleapis.com/css?family=Lato:400,700');

body {
  font-family: 'Lato', sans-serif;
}

.bg-navbar {
  background-color: #81717a;
}

.home-height {
  min-height: calc(100vh - 56px);
  background-color: #b4d4ee;
}

.bg-foto {
  background-color: #CB141B;
}

.bg-content {
  background-color: #C6C4B9;
}

.boxAccordion {
  text-align : center;
  width: 35rem;
}